# Cleanining Project "Billboard"

In [1]:
# my imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Date cleaning and Tidying

In [2]:
bilboard = pd.read_csv('data/billboard.csv')

In [3]:
bilboard.head()

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bilboard.columns

Index(['year', 'artist', 'track', 'time', 'date.entered', 'wk1', 'wk2', 'wk3',
       'wk4', 'wk5', 'wk6', 'wk7', 'wk8', 'wk9', 'wk10', 'wk11', 'wk12',
       'wk13', 'wk14', 'wk15', 'wk16', 'wk17', 'wk18', 'wk19', 'wk20', 'wk21',
       'wk22', 'wk23', 'wk24', 'wk25', 'wk26', 'wk27', 'wk28', 'wk29', 'wk30',
       'wk31', 'wk32', 'wk33', 'wk34', 'wk35', 'wk36', 'wk37', 'wk38', 'wk39',
       'wk40', 'wk41', 'wk42', 'wk43', 'wk44', 'wk45', 'wk46', 'wk47', 'wk48',
       'wk49', 'wk50', 'wk51', 'wk52', 'wk53', 'wk54', 'wk55', 'wk56', 'wk57',
       'wk58', 'wk59', 'wk60', 'wk61', 'wk62', 'wk63', 'wk64', 'wk65', 'wk66',
       'wk67', 'wk68', 'wk69', 'wk70', 'wk71', 'wk72', 'wk73', 'wk74', 'wk75',
       'wk76'],
      dtype='object')

In [5]:
billboard_melted = pd.melt(
    bilboard, 
    id_vars=['year', 'artist', 'track', 'time', 'date.entered'],
    value_vars=[
        'wk1', 'wk2', 'wk3', 'wk4', 'wk5', 'wk6', 'wk7', 'wk8', 'wk9','wk10', 'wk11',
        'wk12','wk13', 'wk14', 'wk15', 'wk16', 'wk17', 'wk18', 'wk19', 'wk20', 'wk21',
        'wk22', 'wk23', 'wk24', 'wk25', 'wk26', 'wk27', 'wk28', 'wk29', 'wk30','wk31',
        'wk32', 'wk33', 'wk34', 'wk35', 'wk36', 'wk37', 'wk38', 'wk39','wk40', 'wk41',
        'wk42', 'wk43', 'wk44', 'wk45', 'wk46', 'wk47', 'wk48','wk49', 'wk50', 'wk51',
        'wk52', 'wk53', 'wk54', 'wk55', 'wk56', 'wk57','wk58', 'wk59', 'wk60', 'wk61',
        'wk62', 'wk63', 'wk64', 'wk65', 'wk66','wk67', 'wk68', 'wk69', 'wk70', 'wk71',
        'wk72', 'wk73', 'wk74', 'wk75','wk76'
        ],
       var_name='week',
       value_name='rank'
    )

In [6]:
billboard_melted

,year,artist,track,time,date.entered,week,rank
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,wk1,87.0
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,wk1,91.0
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,wk1,81.0
3,2000,3 Doors Down,Loser,4:24,2000-10-21,wk1,76.0
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,wk1,57.0
...,...,...,...,...,...,...,...
24087,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,wk76,NaN
24088,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,wk76,NaN
24089,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,wk76,NaN
24090,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,wk76,NaN
24091,2000,matchbox twenty,Bent,4:12,2000-04-29,wk76,NaN

In [7]:
billboard_melted.dtypes

year              int64
artist           object
track            object
time             object
date.entered     object
week             object
rank            float64
dtype: object

In [9]:
billboard_melted_na_dropped = billboard_melted.dropna()

In [16]:
billboard_melted_na_dropped['rank'] = billboard_melted_na_dropped['rank'].astype(int)

/var/folders/n3/_b2k9ztj2rs2r_ykbrv076hr0000gq/T/ipykernel_54153/3793205164.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  billboard_melted_na_dropped['rank'] = billboard_melted_na_dropped['rank'].astype(int)

In [18]:
billboard_melted_na_dropped.dtypes

year             int64
artist          object
track           object
time            object
date.entered    object
week            object
rank             int64
dtype: object

In [23]:
billboard_melted_na_dropped['week'] = billboard_melted_na_dropped['week'].str[2:].astype(int)

/var/folders/n3/_b2k9ztj2rs2r_ykbrv076hr0000gq/T/ipykernel_54153/3683029436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  billboard_melted_na_dropped['week'] = billboard_melted_na_dropped['week'].str[2:].astype(int)

In [28]:
billboard_melted_na_dropped = billboard_melted_na_dropped.drop(columns = 'year')

In [29]:
billboard_melted_na_dropped

             artist                    track  time date.entered  week  rank
0             2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26     1    87
1           2Ge+her  The Hardest Part Of ...  3:15   2000-09-02     1    91
2      3 Doors Down               Kryptonite  3:53   2000-04-08     1    81
3      3 Doors Down                    Loser  4:24   2000-10-21     1    76
4          504 Boyz            Wobble Wobble  3:35   2000-04-15     1    57
...             ...                      ...   ...          ...   ...   ...
19716         Creed                   Higher  5:16   1999-09-11    63    50
19833      Lonestar                   Amazed  4:25   1999-06-05    63    45
20033         Creed                   Higher  5:16   1999-09-11    64    50
20150      Lonestar                   Amazed  4:25   1999-06-05    64    50
20350         Creed                   Higher  5:16   1999-09-11    65    49

[5307 rows x 6 columns]